* {
    box-sizing: border-box;
}
.white-text {
	color:#fff;
}
.blue-text {
	color:#004764;
}
.orange-text {
	color:#f15f25;
}
body {
	background-color: #fff;
}
.blue-bg {
	background-color:#47cdd2;
}
.dark-blue-bg {
	background-color:#004764;
}
.orange-bg {
	background-color:#f15f25;
}
.grey-bg {
	background-color: #ccc;
}
.orange-hover:hover {
	background-color:#f15f25;
}
.blue-hover:hover {
	background-color: #47cdd2;
}
.section-title {
	color:#f15f25;
	text-align: center;
}
.row:after {
    content: ' ';
    display: table;
    clear: both;
}
.col-6 {
	float:left;
	width:50%;
}

.col-8 {
	float:left;
	width:75%;
}
.page-section {
	padding: 40px 0px 0px;
    border-bottom: 30px solid #f1dbbc;
}
fieldset {
	width: 100%;
}
.sub-title {
    color:#ccc;
    text-transform: uppercase;
}

.ratio p {
 text-align: left;
 color:#ccc;
}
.staff-input {
    display: inline;
}
.range-input input, .staff-input input{
    display: inline;
    vertical-align: -webkit-baseline-middle;
}

.yacht-title {
    padding: 1rem;
    width: 100%;
    background-color: #004764;
    color: #fff;
}
.total-travellers {
    background-color: #f15f25;
    width: 100%;
    padding: 20px 0;
}
.wayv-btn {
    padding: 15px 45px;
    text-transform: uppercase;
    -webkit-border-top-right-radius: 75px;
    -webkit-border-bottom-left-radius: 75px;
    -moz-border-radius-top-right: 75px;
    -moz-border-radius-bottom-left: 75px;
    border-top-right-radius: 75px;
    border-bottom-left-radius: 75px;
    font-size: 14px;
    text-decoration: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    transition:  .2s linear .1s;
}
input {
    border-radius: 50px;
    padding: .5rem 1rem;
    color: #ccc;
}
#msform input, #msform textarea {
	padding: 15px;
	border: 1px solid #ccc;
	margin-bottom: 10px;
	box-sizing: border-box;
}
#msform {
	margin: 50px auto;
	text-align: center;
	position: relative;
}
#msform fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	box-sizing: border-box;
	padding:0;
	/*stacking fieldsets above each other*/
	position: relative;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}
h2,h3 {
    font-size: 36px;
}

.ratio h3 {
    text-align: left;
    margin-top: 0;
}


.yacht-details {
    text-align: left;
}

.additions p{
    display: inline-block;
}
.additions input {
    display: inline-block;
}
.additions ul {
    margin: 0;
    padding: 0;
    
}
.additions ul li {
    list-style: none;
    margin: 0 0 10px 0;
}
.booking-overview {
    text-align: left;
}
/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none; 
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

/* Mark the active step: */
.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #4CAF50;
}
.tab {
    
}